@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=League+Spartan:wght@100..900&family=Montserrat&family=Oswald&family=Quicksand:wght@300;400;500&family=Roboto&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  background-color: #262f38;
  color: #d3d3d3;
  font-family: "JetBrains Mono";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main {
  margin: 0px 60px;
}

.stroke-shadow:hover {
  filter: drop-shadow(0px 0px 3px rgb(0, 251, 213));
  color: #00fbd5;
}

h1 {
  font-family: "League Spartan";
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
